*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.tm-header{
    background: #211f17;
    display: block;
    padding: 20px;
}


.tm-logo{
    align-content: center;
    display: block;
    margin: 0 auto;
    width: 25%;
}

.tm-nav{
    max-width: 90%;
        border: 2px solid #3a382e;
     display: block;
     margin: 30px auto 5px auto;
 }
 
 .tm-nav div
{
    display: table;
    padding: 10px;
    margin: 0px auto;
}

.tm-nav div ul li{
    display:inline-block;  
}
.tm-nav div ul li a{
    font-size: 1.5vmax;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

.tm-nav div ul li b{
    font-size: 1.5vmax;
    padding: 10px 30px;
    text-decoration: none;
    color: #ec3c6a;
    line-height: 50px;
}

.tm-nav div ul li a:hover{    
    color: #f1a1b9;
}

/* slider */

.tm-slider{
    position: relative;
}

.tm-sliderimage{
    width: 100%;
   display: block;   
}

.simple{
    font-size: 3.5vw;  
    font-weight: 500;
}

.tm-slidertext{
 position: absolute; 
 width: auto;
   top: 30%; 
  left: 10%;     
    color: #fff;
}
.tm-slidertext1{
    position: absolute; 
    width: auto;
      top: 30%; 
     left: 30%;     
       color: #fff;
   }
.tm-slidertext2{
    position: absolute; 
    width: auto;
      top: 30%; 
     left: 70%;     
       color: #fff;
   }

   /* room */

   .tm-rooms:focus {
    outline: none;
}
.tm-rooms a:focus {
    outline: none;
}

.tm-rooms{
    display: block;
    background: #353535;
    max-width: 33.33%;
    width: 33.33%;
}

.tm-rooms img{
    max-width: 100%;
    width: 100%;
}

.tm-rooms p{
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
padding: 5%;
}

.tm-rooms a{
    text-decoration: none;
}

.tm-rooms a p:hover{
    color: #ec3c6a;
}

.s{
    padding-bottom: 1%;
}

.flex{
    display: flex;
}

/* services */

.tm-service{
    max-width: 30%;
    width: 30%;
    margin: 1.5% 12% 1.5% 10%;  
}

.tm-servicesection{
    display: flex;
}

.tm-serimage{
    display: inline-block;
    max-width: 20%;
    width: 10%;
    height: auto;
padding-bottom: 10%;
}

.tm-service div{
    display: inline-block;

    max-width: 75%;
    padding: 5%;
}

.tm-service p{
    font-size: 1.5vmax;
    
}
.tm-service .b{
    padding-bottom: 2%;
    font-weight: 700;
}

/*footer*/
.tm-footer{
    background: #211f17;
   display: block;
   padding: 20px;
   position: relative;

}

.tm-us{
   display: inline-table;
   max-width: 30%;
   width: 30%;
   margin: 2% 0 2% 4%
}

.tm-address{
   display: inline-table;
   max-width: 30%;
   width: 30%;
    margin: 2% 0 2% 25%
}

.tm-us .bold, .tm-address .bold{
   color: #ec3c6a;
   font-size: 1.5vw;
   font-weight: 700;
   padding-bottom: 4%;
}

.tm-us p, .tm-address p{
   color: #fff;
   font-size: 1.2vw;
}

.tm-media{
  display: inline;
   margin: 0 0 0 59%;


}
.tm-media img{
 margin: 0.5%;
   width: 3%;
   height: auto;
   
}

.tm-up
{
   position: absolute;
   top: 20%;
   right: 3%;
   width: 3%;
   height: auto;
   
}

.tm-review:focus{
   outline: none;
}

.tm-revcon:focus{
   outline: none;
}

/* Istraži */

.tm-exp1, .tm-exp2{
    background: #353535;
    
}

.tm-exp1::after{
    content:" ";
    display: block;
    clear: both;
}

.tm-exp2::after{
    content:" ";
    display: block;
    clear: both;
}


.tm-exp1 p{
    float: right;
    padding-right: 8%;
    padding-top: 15%;
    max-width: 30%;
    font-size: 3.5vw;
    color: #ec3c6a;
}

.tm-exp2 p{
    float: left;
    padding-left: 5%;
    padding-top: 15%;
    max-width: 30%;
    font-size: 3.5vw;
    color: #ec3c6a;
}

.tm-exp1 img{
    display: block;
    float: left;
    max-width: 60%;
    width: 60%;
    height: auto;
    
}

.tm-exp2 img{
    display: block;
    float: right;
    max-width: 60%;
    width: 60%;
    height: auto;
    
}

/*pregled button*/

.tm-res{
    background: #cc4151;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 42%;
    padding-right: 42%;
    
}


.tm-resbutton p{
    display: table;
    max-width: 50%;
    margin: 0 auto;
    font-size: 3.5vw;
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
   
}
.tm-resbutton a{
     text-decoration: none;
}

.tm-resbutton p:hover{
    color: #ec3c6a;
    background: #fff;
}


/* Pregled Soba */
.tm-room1{
    background: #353535;
    
}



.tm-room1::after{
    content:" ";
    display: block;
    clear: both;
}
.tm-room1 p1{
    float: left;
    padding-left: 3%;
    padding-top: 10%;
    width: 100%;
    font-size: 2.5vw;
    color: #ec3c6a;
    height: auto;
}

.tm-room1 p{
    float: left;
    padding-left: 3%;
    padding-top: 10%;
    max-width: auto;
    font-size: 2.5vw;
    color: #fff;
    height: auto;
}
.tm-room1 img{
    display: block;
    float: right;
    padding-bottom: 1%;
    width: 50%;
    height: auto;
    
}
